[MESSAGES CONTROL]
# Disable the following messages:
#   C0115: Class docstrings
#   R0903: Too few public methods
#   W0703: Catching too general exception Exception (adjust to a more specific exception)
#   W0511: TODO: comment
#   C0301: Line too long (handled by Black)
#   W0107: Unnecessary pass statement
disable=
    C0115,
    R0903,
    W0703,
    W0511,
    C0301,
    W0107

[FORMAT]
# Matches Black's line length
max-line-length = 120
ignore-long-lines = yes
indent-string='    '

[BASIC]
good-names=
    i,
    j,
    k,
    ex,
    Run,
    _,
    __,
    ___

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-imports=yes
ignore-docstrings=yes

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[VARIABLES]
init-import=no

[TYPECHECK]
signature-mutators=click.decorators.option,
                   click.decorators.argument,
                   click.decorators.version_option,
                   click.decorators.help_option,
                   click.decorators.pass_context,
                   click.decorators.confirmation_option
