[MASTER]
ignore=.venv,venv,.git,.tox,.mypy_cache,__pycache__
persistent=yes
load-plugins=

[MESSAGES CONTROL]
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function docstring
    W0611,  # Unused import
    W0612,  # Unused variable
    W0511,  # TODO/FIXME
    invalid-name

[REPORTS]
output-format=text
score=yes

[FORMAT]
max-line-length=120
indent-string='  '
